<div class="container">
    <div>
        <mat-list>
            <mat-list-item>
                <span matListItemTitle>Title</span>
                <mat-form-field appearance="fill">
                    <mat-label>Fill form field</mat-label>
                    <input matInput placeholder="Title">
                </mat-form-field>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <span matListItemTitle>State</span>
                <mat-form-field appearance="fill">
                    <mat-label>Fill form field</mat-label>
                    <input matInput placeholder="State">
                </mat-form-field>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span matListItemTitle>Description</span>
              <mat-form-field appearance="fill">
                <mat-label>Fill form field</mat-label>
                <input matInput placeholder="Description">
            </mat-form-field>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span matListItemTitle>Created on :</span>
              <mat-form-field appearance="fill">
                <mat-label>Fill form field</mat-label>
                <input matInput placeholder="Date">
            </mat-form-field>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span matListItemTitle>Due to :</span>
              <mat-form-field appearance="fill">
                <mat-label>Fill form field</mat-label>
                <input matInput placeholder="Date">
            </mat-form-field>
            </mat-list-item>
          </mat-list>
        
    </div>
</div>